@layer global {

    /* poppins-300 - latin */
    @font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        src: url('/fonts/poppins-v24-latin-300.woff2') format('woff2');
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* poppins-regular - latin */
    @font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/poppins-v24-latin-regular.woff2') format('woff2');
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* poppins-500 - latin */
    @font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        src: url('/fonts/poppins-v24-latin-500.woff2') format('woff2');
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* poppins-700 - latin */
    @font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        src: url('/fonts/poppins-v24-latin-700.woff2') format('woff2');
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* archivo-regular - latin */
    @font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Archivo';
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/archivo-v25-latin-regular.woff2') format('woff2');
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* chau-philomene-one-regular - latin */
    @font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Chau Philomene One';
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/chau-philomene-one-v16-latin-regular.woff2') format('woff2');
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* aldrich-regular - latin */
    @font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Aldrich';
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/aldrich-v22-latin-regular.woff2') format('woff2');
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /*Fonts*/
    :root {
        --fs-12: calc(12 / 16 * 1rem);
        --fs-14: calc(14 / 16 * 1rem);
        --fs-16: calc(16 / 16 * 1rem);
        --fs-18: calc(18 / 16 * 1rem);
        --fs-20: calc(20 / 16 * 1rem);
        --fs-25: calc(25 / 16 * 1rem);
        --fs-28: calc(28 / 16 * 1rem);
        --fs-32: calc(32 / 16 * 1rem);
        --fs-40: calc(40 / 16 * 1rem);


        --font-size-nav: var(--fs-16);
        --font-size-h1: var(--fs-20);
        --font-size-h2: var(--fs-18);
        --font-size-h3: var(--fs-16);
        --font-size-about-me-text: var(--fs-14);
        --font-size-buttons: var(--fs-14);
        --font-size-certificate-caption: var(--fs-14);
        --font-size-lang-title: var(--fs-16);
        --font-size-lang-: var(--fs-12);
        --font-size-project-desc: var(--fs-14);
        --font-size-contact-sentece: var(--fs-14);
        --font-size-social-link: var(--fs-14);
        --font-size-form: var(--fs-14);
        --font-size-footer: var(--fs-12);



        @media (width >=calc(769 / 16 * 1rem)) {
            --font-size-name-nav: var(--fs-28);
            --font-size-nav: var(--fs-25);
            --font-size-h1: var(--fs-40);
            --font-size-h2: var(--fs-32);
            --font-size-h3: var(--fs-28);
            --font-size-about-me-text: var(--fs-18);
            --font-size-buttons: var(--fs-20);
            --font-size-certificate-caption: var(--fs-18);
            --font-size-lang-title: var(--fs-40);
            --font-size-lang-: var(--fs-18);
            --font-size-project-desc: var(--fs-18);
            --font-size-contact-sentece: var(--fs-25);
            --font-size-social-link: var(--fs-20);
            --font-size-form: var(--fs-20);

            --font-size-footer: var(--fs-20);
        }
    }

    /*Colors*/
    :root {
        --c-white: hsl(0, 0%, 100%);
        --c-black: hsl(0, 0%, 0%);
        --c-blueish-white: hsl(195, 100%, 97%);
        --c-purpleish-white: hsl(278, 58%, 96%);
        --c-dark-purple: hsl(297, 28%, 26%);
        --c-greyish-blue: hsl(246, 15%, 87%);
        --c-transparent: transparent;
        --c-shadow: hsla(0, 0%, 0%, 0.200);
        --c-grey: hsl(280, 4%, 54%);

        --color-bg-main: var(--c-white);
        --color-bg-secondary: var(--c-blueish-white);
        --color-text-general: var(--c-black);
        --color-bg-nav: var(--c-purpleish-white);
        --color-text-nav: var(--c-dark-purple);
        --color-button-primary-bg: var(--c-dark-purple);
        --color-button-primary-shadow: var(--c-shadow);
        --color-button-secondary-bg: var(--c-transparent);
        --color-text-secondary-button: var(--c-dark-purple);
        --color-border-secondary-button: var(--c-dark-purple);
        --color-text-primary-button: var(--c-white);
        --color-bg-projects: var(--c-purpleish-white);
        --color-bg-form: var(--c-white);
        --color-bg-form-placeholder: var(--c-greyish-blue);
        --color-border-form: var(--c-black);
        --color-button-submit-bg: var(--c-dark-purple);
        --color-text-submit: var(--c-white);
        --color-border-social: var(--c-dark-purple);
        --color-footer-bg: var(--c-grey);
        --color-text-footer: var(--c-white);

    }


    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
    }

    body {
        font-family: Poppins, Arial, Helvetica, sans-serif;
        line-height: 1.3;
        color: var(--color-text-general);

        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    h1,
    h2 {
        line-height: 1.1;
    }

    h1 {
        font-size: var(--font-size-h1);
    }

    h2 {
        font-size: var(--font-size-h2);
    }

    a {
        text-decoration: none;
    }

    img,
    picture,
    svg {
        max-width: 100%;
        height: auto;
        display: block;
    }

    .wrapper {
        width: min(calc(100% - 50px), calc(1200/16 * 1rem));
        margin-inline: auto;
    }
}

@layer component {
    /*Header*/
    .topnav {
        background-color: var(--color-bg-nav);

        .topnav__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 7px;
            padding-block: 10px;

            @media (width >=calc(769 / 16 * 1rem)) {
                justify-content: space-between;
                gap: 0;
                padding: 11px;
            }
        }

        .topnav__homepage {
            display: flex;
            align-items: center;

            &:hover {
                opacity: var(--h-opacity);
                transition: var(--h-transition);
            }
        }

        .topnav__logo {
            width: calc(30 / 16 * 1rem);

            @media (width >=calc(769 / 16 * 1rem)) {
                width: calc(50 / 16 *1rem);
            }
        }

        .topnav__author__name {
            font-size: var(--font-size-nav);
            color: var(--color-text-nav);
            font-family: 'Chau Philomene One', Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            padding-inline-start: 10px;

            @media (width <=calc(769 / 16 * 1rem)) {
                display: none;
            }
        }

        .topnav__menu {
            display: flex;
            list-style-type: none;
            padding: 0;
            gap: 10px;

            @media (width >=calc(769 / 16 * 1rem)) {
                gap: 21px;
            }
        }


        .topnav_link {
            font-size: var(--font-size-nav);
            color: var(--color-text-nav);
            font-family: 'Chau Philomene One', Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;

            text-decoration: none;
            background-image: linear-gradient(currentColor, currentColor);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size .3s;

            &:hover,
            &:focus {
                background-size: 100% 2px;
            }
        }
    }

/* Sobre mim*/
    .main {
        flex: 1;
    

        .main__wrapper {
            display: flex;
            flex-direction: column;
            padding-block: 7px;
            align-items: center;
            justify-content: center;

        }

        .main__intro {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-block: 45px;

            @media (width >=calc(769 / 16 * 1rem)) {
                gap: 181px;
                flex-direction: row;
                padding-block: 100px;

            }
        }

        .main__main_greeting {
            font-weight: 700;
            font-size: var(--font-size-h1);
        }

        .main__prof-pic {
            width: calc(161 / 16 * 1rem);
            border-radius: 100%;
            box-shadow: -3px 5px 10px rgba(0, 0, 0, 0.267);

            @media (width >=calc(769 / 16 * 1rem)) {
            width: calc(450 / 16 * 1rem);
            }
        }

        .main__greeting {
            margin-block-start: 73px;
            font-weight: 700;
            font-size: var(--font-size-h2);

            @media (width >=calc(769 / 16 * 1rem)) {
                margin-block-start: 0px;
            }

        }

        .main__info {
            display: flex;
            text-align: center;
            flex-direction: column;

            @media (width >=calc(769 / 16 * 1rem)) {
                text-align: justify;
                gap: 18px;
            }
        }

        .main__text {
            font-weight: 400;
            font-size: var(--font-size-about-me-text);
        }

        .main__buttons {
            display: flex;
            justify-content: center;
            gap: 7px;
            padding-block-start: 40px;

            @media (width >=calc(769 / 16 * 1rem)) {
                justify-content: start;
            }
        }

        .main__download_button {
            background-color: var(--color-button-primary-bg);
            padding: 10px;
            border: 2px solid var(--color-button-primary-shadow);
            border-radius: 10px;

            &:hover,
            &:focus {
                opacity: var(--h-opacity);
                transition: var(--h-transition);
            }
        }

        .main__download_button__link {
            font-family: 'Aldrich', Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: var(--font-size-buttons);
            color: var(--color-text-primary-button);

        }

        .main__cv_button {
            background-color: var(--color-button-secondary-bg);
            padding-block: 10px;
            padding-inline: 26px;
            border: 2px solid var(--color-border-secondary-button);
            border-radius: 10px;

            &:hover,
            &:focus {
                opacity: var(--h-opacity);
                transition: var(--h-transition);
            }
        }

        .main__cv_button__link {
            font-family: 'Aldrich', Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: var(--font-size-buttons);
            color: var(--color-text-secondary-button);
    }   }

/*Formação*/
    .skills {
        display: flex;
        flex-direction: column;
        background-color: var(--color-bg-secondary);
        flex: 1;
    


        .skill {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 85vh;

            @media (width >=calc(769 / 16 * 1rem)) {
                min-height: 80vh;
            }
        }

        .skill__certificates_title {
            font-size: var(--font-size-h2);
            padding-block: 25px;
        }

        .skill__certificates {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 45px;

            @media (width >=calc(769 / 16 * 1rem)) {
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding-block: 138px;
                gap: 60px
            }
        }

        .skill__certificate {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;
        }


        .skill__certificate__img {
            width: calc(100 / 16 * 1rem);
            border-radius: 10px;

            @media (width >=calc(769 / 16 * 1rem)) {
                width: calc(180 / 16 * 1rem);
            }
        }

        .skill__certificate__caption {
            width: 100%;
            text-align: center;
            font-size: var(--font-size-certificate-caption);
        }

        .skill__lang_container {
            margin-top: auto;
            margin-bottom: 20px;
            margin-inline-end: auto;
        }

        .skill__langs_title {
            font-size: var(--font-size-h3);
        }


        .skill__lang {
            font-size: var(--font-size-lang-);
        }
    }

/*portfólios*/
    .portfolio {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-block-end: 25px;
        background-color: var(--color-bg-secondary);

        .port-projects__title {
            text-align: center;
            font-size: var(--font-size-h2);
            padding-block: 25px;
        }

        .port-projects__projects_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 35px;

            @media (width >=calc(769 / 16 * 1rem)) {
                flex-direction: row;
            }

            @media (width >=calc(1025 / 16 * 1rem)) {
                padding-block-start: 60px;
            }
        }

        .port-projects__project_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-block-end: 25px;
            border-radius: 20px;
            background-color: var(--color-bg-projects);
            max-width: 475px;

            @media (width >=calc(769 / 16 * 1rem)) {
                max-width: 100%;
            }
        }


        .port-projects__project_img {
            margin: auto;
            border-radius: 10px;
            height: auto;
            object-fit: contain;

            @media (width >=calc(769 / 16 * 1rem)) {
                width: auto;
                height: 180px;
            }
        }

        .port-projects__caption_title {
            font-weight: 700;
        }

        .port-projects__project_caption {
            padding: 16px;
            text-align: center;
            font-size: var(--font-size-project-desc);
        }

        .port-projects__project_github {
            width: 40px;

            @media (width >=calc(769 / 16 * 1rem)) {
                width: 60px;
            }

            &:hover {
                transform: scale(1.05);
                opacity: var(--h-opacity);
            }
        }
}

/*Contato*/
    .contact {
        display: flex;
        flex-direction: column;
        flex: 1;
        background-color: var(--color-bg-secondary);
    

        .contact__title {
            text-align: center;
            font-size: var(--font-size-h2);
            padding-block-start: 25px;
        }

        .contacts-container {
            display: flex;
            flex-direction: column;
        }

        .contacts__paragraph {
            font-size: var(--font-size-contact-sentece);
            text-align: center;
            padding-block: 25px;
        }

        .contacts__form-container {
            padding: 10px;
            border-radius: 20px;
            background-color: var(--color-bg-form);
            border: 1px solid var(--color-border-form);

        }

        .contacts__form__title {
            font-size: var(--font-size-h3);
            padding-block: 15px;
            text-align: center;
        }

        .form {
            display: flex;
            flex-direction: column;
            gap: 17px;
        }

        .label_container {
            font-size: var(--font-size-form);
            font-weight: 500;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
        }

        .form__input {
            font-size: var(--font-size-form);
            background-color: var(--color-bg-form-placeholder);
            padding: 11px;
            border: none;
        }

        .textarea {
            font-size: var(--font-size-form);
            font-family: Poppins, Arial, Helvetica, sans-serif;
            height: 150px;
        }

        .contacts__submit {
        font-family: Poppins, Arial, Helvetica, sans-serif;
            font-size: var(--font-size-buttons);
            font-weight: 500;
            color: var(--color-text-submit);
            border-radius: 10px;
            padding: 10px;
            margin-block-end: 10px;
            background-color: var(--color-button-submit-bg);
        }

        .contacts__social {
            margin-block: 25px;
        }

        .contacts__list {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 0;
            list-style: none;

            @media (width >=calc(769 / 16 * 1rem)) {
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                flex-direction: row;
            }
        }

        .contacts__list-item {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 7px;
            padding-block: 5px;
            padding-inline-end: 20px;
            padding-inline-start: 5px;
            border: 1.5px solid var(--color-border-social);
            border-radius: 10px;

            @media (width >=calc(769 / 16 * 1rem)) {
                width: fit-content;
            }
        }

            .contacts__list-img {
                width: 40px;
            }

        .contacts__list-link {
                color: black;
                font-size: var(--font-size-social-link);

            text-decoration: none;
            background-image: linear-gradient(currentColor, currentColor);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size .3s;

            &:hover,
            &:focus {
                background-size: 100% 2px;
            }
        }
    }
    .footer {
                background-color: var(--color-footer-bg);
                text-align: center;
            }

            .footer__copyright {
                padding-block: 20px;
                font-family: 'Archivo';
                font-style: normal;
                font-weight: 400;
                font-size: var(--font-size-footer);
                color: var(--color-text-footer);

                @media (width >=calc(769 / 16 * 1rem)) {
                padding-block: 38px;
               }
            }
}

@layer utility {
    :root {
        --reduced-opacity: 0.85;
        --slow-transition: opacity 0.3s ease;

        --h-opacity: var(--reduced-opacity);
        --h-transition: var(--slow-transition);
    }
}